body {
  margin: 0;
  padding: 0;

  /* font-family: "PT Sans", Arial, sans-serif; */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.pt-sans {
  font-family: "PT Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

header {
  background-color: #f3f7f8;
}

.header-top-line {
  font-size: 17px;
  line-height: 18px;
  background-color: #32425c;
}

.logo {
  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

input[type="search"] {
  font-size: 17px;
  line-height: 18px;
  background-color: #32425c;
  color: #ffffff;
}

input[type="search"]::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]:focus {
  background-color: #ffffff;
  color: #000000;
}

.headline {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ff3333;
}

.header-address {
  font-size: 14px;
  color: #32425c;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ff3333;
}

.profile-menu {
  list-style: none;
}

.profile-menu a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.profile-menu a:hover {
  color: #ff3333;
}

.profile-menu a:active {
  opacity: 0.3;
}

.user-menu {
  list-style: none;
}

.user-menu a {
  font-size: 17px;
  line-height: 18px;
}

.user-menu a:hover {
  background-color: #212a3a
}

.user-menu a:active {
  background-color: #161d29;
}

.user-menu-order-link {
  background-color: #63a63e;
}

a.user-menu-order-link:hover {
  background-color: #5fbb2d;
}

a.user-menu-order-link:active {
  background-color: #518534;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
}

.main-product-category-list,
.special-offers-list {
  list-style: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.main-product-category-materials {
  background-color: #ffbf47;
}

.main-product-category-instrument {
  background-color: #3bbce3;
}

.main-product-category-technique {
  background-color: #dc91d8;
}

.special-offer-discount {
  background-color: #8ed78f;
}

.special-offer-delivery {
  background-color: #ffc047;
}

.main-product-category-list a,
.special-offers-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-product-category-list a:hover,
.special-offers-list a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-product-category-list a:active,
.special-offers-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  list-style: none;
  background-color: #584e44;
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
}

.slider ~ a {
  text-transform: uppercase;
  background-color: #ee3643;
}

.slider ~ a:hover {
  background-color: #ca2c37;
}

.slider ~ a:active {
  background-color: #ba2732;
}

.main-section-heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333366;
  background-color: #f3f7f8;
}

.main-section-heading ~ a {
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.products-list {
  list-style: none;
  font-weight: bold;
}

.products-list li {
  border: 1px solid #cccccc;
}

.products-list li:hover {
  box-shadow: 0 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.products-list h2 {
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
