body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f6f8;
}

.pt-sans {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  z-index: -1;

  width: 0.1px;
  height: 0.1px;

  margin: 0;
  padding: 0;
  border: none;

  font-size: 0.1px;
  white-space: nowrap;
  color: transparent;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.header-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
  background-color: #293449;
}

.header-top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 940px;
  margin: auto;
  font-size: 17px;
  line-height: 18px;
}

.logo-and-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.logo-header {
  display: inline-block;
  background-color: #ee3643;
  width: 220px;
  text-align: center;
  vertical-align: middle;
  padding-top: 13px;
  padding-bottom: 11px;
  margin-bottom: -5px;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
}

.logo-header:hover,
.logo-footer:hover,
.logo-header:focus,
.logo-footer:focus {
  background-color: #ca2c37;
}

.logo-header:active,
.logo-footer:active,
.logo-header:focus,
.logo-footer:focus {
  background-color: #ba2732;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 270px;
}

input[type="search"] {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  width: 222px;
  border: none;
  vertical-align: middle;
  color: #ffffff;
  background-color: #293449;
}

input[type="search"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

input[type="search"]::placeholder,
input[type="search"]::-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-form:hover path {
  fill: #ffffff;
}

.search-form:hover input[type="search"]:not(:focus) {
  background-color: #212a3a;
  color: #ffffff;
}

.search-form:hover .search-submit-btn {
  background-color: #212a3a;
}

input[type="search"]:focus,
input[type="search"]:focus:hover {
  width: 222px;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.search-submit-btn {
  width: 48px;
  padding: 8px 0px 6px 3px;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.search-submit-btn path {
  fill: #6a7180;
}

input[type="search"]:focus + .search-submit-btn,
input[type="search"]:focus:hover + .search-submit-btn,
.search-submit-btn:focus {
  background-color: #ffffff;
}

input[type="search"]:focus + .search-submit-btn path {
  fill: red;
}

.header-mid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-mid-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: auto;
  margin-bottom: 39px;
  width: 940px;
}

.headline {
  margin-left: 53px;
  margin-right: 72px;
  margin-top: 4px;
  margin-bottom: 0;
  width: 197px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.phone-and-address-containter {
  display: inline-block;
  vertical-align: middle;
}

.header-address {
  margin-left: 8px;
  margin-top: 3px;
  font-size: 14px;
  color: #32425c;
}

.header-phone {
  display: block;
  padding: 10px 50px 10px 70px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #ffffff;
  color: #ee3643;
  background: url(../img/icon-phone.svg) no-repeat;
  background-position: 5% 50%;
}

.auth-block {
  margin-left: 49px;
}

.profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  list-style: none;
}

.profile-menu a {
  display: block;
  padding: 12px 20px 12px 47px;
  margin-left: 0px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-item a {
  padding: 13px 25px 12px 46px;
}

.login-item {
  width: 121px;
  margin-left: 67px;
  position: relative;
}

.registration-item {
  margin-left: 10px;
}

.registration-item a {
  padding: 13px 24px 12px 23px;
}

.login-icon {
  position: absolute;
  left: 14px;
  top: 13px;
  margin-top: 2px;
  vertical-align: middle;
}

.user-name-item {
  position: relative;
}

.user-name-span {
  display: inline-block;
  vertical-align: top;
  padding-top: 1px;
}

.user-icon {
  display: inline-block;
  position: absolute;
  left: 13px;
  margin-top: 2px;
  vertical-align: middle;
}

.profile-menu polygon,
.profile-menu path {
  fill: #c5c5c5;
}

.profile-menu a:hover {
  color: #ee3643;
}

.login-link:hover polygon,
.login-link:hover path,
.user-name:hover path,
.logout-link:hover path,
.logout-link:hover polygon,
.login-link:focus polygon,
.login-link:focus path,
.user-name:focus path,
.logout-link:focus path,
.logout-link:focus polygon {
  fill: #32425c;
}

a.user-name:hover {
  color: #000000;
}

.login-link:active,
.login-link:active:hover,
.user-name:active span,
.logout-link:active,
.registration-link:active,
.registration-link:active:hover,
.my-orders-link:active,
.my-orders-link:active:hover,
.account-link:active,
.account-link:active:hover {
  color: #000000;
  opacity: 0.3;
}

.login-link:active polygon,
.login-link:active path,
.user-name:active path,
.logout-link:active path,
.logout-link:active polygon {
  fill: #c5c5c5;
}

.logout-link-item {
  text-align: right;
}

a.logout-link {
  display: inline-block;
  vertical-align: middle;
  padding-left: 16px;
  padding-right: 9px;
  padding-top: 15px;
}

a.my-orders-link,
a.account-link {
  padding: 0;
  margin-top: 6px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
  background-color: transparent;
}

a.my-orders-link {
  margin-right: 10px;
  margin-left: 18px;
}

a.account-link {
  margin-left: 23px;
}

.profile-menu:last-child li:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 108px;
  width: 4px;
  height: 4px;
  margin-top: 13px;
  border-radius: 50%;
  background-color: #32425c;
  pointer-events: none;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
}

.user-menu li {
  width: 150px;
}

.user-menu li:last-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0px;
}

.user-menu a {
  display: inline-block;
  padding: 12px 20px 12px 37px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  line-height: 18px;
}

.user-menu a:hover {
  background-color: #212a3a
}

.user-menu a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.user-menu-bookmarks-link {
  position: relative;
}

.user-menu-bookmarks-link::before {
  content: "";
  position: absolute;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  opacity: 0.3;
}

a.user-menu-bookmarks-link.bookmark-added {
  background-color: #ee3643;
}

a.user-menu-cart-link {
  position: relative;
  padding-left: 39px;
}

a.user-menu-cart-link.basket-filled {
  background-color: #ee3643;
}

.user-menu-cart-link::before {
  content: "";
  position: absolute;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position:  0 50%;
  opacity: 0.3;
}

.user-menu-bookmarks-link:hover::before,
.user-menu-cart-link:hover::before {
  opacity: 1;
}

.user-menu-bookmarks-link:active::before,
.user-menu-cart-link:active::before {
  opacity: 0.5;
}

a.user-menu-order-link {
  display: inline-block;
  vertical-align: middle;
  min-height: 42px;
  padding: 12px 0 8px 0;
  background-color: #63a63e;
}

a.user-menu-order-link:hover {
  background-color: #5fbb2d;
}

a.user-menu-order-link:active {
  background-color: #518534;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  min-height: 55px;
  margin: auto;
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(41, 52, 73, 1);
          box-shadow: inset 0px -5px 0px 0px rgba(41, 52, 73, 1);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 940px;
  min-height: 60px;
  list-style: none;
}

.site-navigation li {
  margin-left: 6px;
  margin-right: 5px;
}

.site-navigation a {
  display: block;
  height: 100%;
  padding: 19px 25px 18px 25px;
  margin-bottom: 5px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 940px;
  margin: auto;
  margin-top: 19px;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  padding-left: 0px;
  padding-right: 18px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  display: inline-block;
  vertical-align: top;

  height: 20px;
  width: 10px;
  background: url(../img/breadcrumb-icon-right-small.svg) no-repeat 50% 50%;
}

.breadcrumbs a {
  display: inline-block;
  margin-right: 14px;
  vertical-align: middle;
  min-height: 21px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}


.breadcrumbs-home-link {
  width: 14px;
  height: 100%;
  padding-left: 0;
  background: url(../img/icon-home.svg) no-repeat 50% 25%;
}

.filter-and-products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 940px;
}

.filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  margin-right: 20px;
}

.filter-heading,
.sorting-heading {
  margin: 0;
  padding: 10px 0 10px 19px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.filter-heading {
  margin-bottom: 11px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend.pt-sans {
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter-range-container {
  margin-bottom: 10px;
  text-align: center;
  background-color: #f7f3ec;
}

.range-controls {
  position: relative;

  height: 80px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
  background-color: #f7f3ec;
  margin-bottom: 15px;
}

.price-controls input {
  display: inline-block;
  width: 90px;
  min-height: 37px;
  padding: 0;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
}

input.min-price {
  padding-left: 10px;
}

span.filter-range-between {
  display: inline-block;
  width: 30px;
  padding-top: 9px;
  padding-bottom: 11px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  background-color: #ffffff;
}

hr {
  border: none;
}

hr.filter-manufacturers-block-top {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 15px;
}

hr.filter-manufacturers-block-bottom {
  border-top: 1px solid #e5e5e5;
  margin-bottom: 15px;
  margin-top: 4px;
}

.filter-manufacturers-list,
.filter-supply-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
}

.filter-manufacturers-list li,
.filter-supply-list li {
  position: relative;
  display: block;
  padding-top: 1px;
  margin-bottom: 39px;
}

.filter-manufacturers-list span,
.filter-supply-list span {
  padding-left: 35px;
}

.filter-manufacturers-list input + label {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  padding-top: 1px;
  background: url(../img/filter-checkbox.svg) no-repeat;
}

.filter-manufacturers-list input:hover + label {
  background: url(../img/filter-checkbox-hover.svg) no-repeat;
}

.filter-manufacturers-list input:checked + label {
  background: url(../img/filter-checkbox-checked.svg) no-repeat;
}

.filter-manufacturers-list input:checked:hover + label {
  background: url(../img/filter-checkbox-checked-hover.svg) no-repeat;
}

.filter-manufacturers-list input:disabled + label,
.filter-supply-list input:disabled + label {
  opacity: 0.4;
}

.filter-manufacturers-list input:focus + label,
.filter-supply-list input:focus + label {
  outline: 2px solid #a6c8ff;
}

legend.supply-legend {
  margin-bottom: 12px;
}

.filter-supply-list input + label {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  padding-top: 2px;
  background: url(../img/filter-radio.svg) no-repeat;
}

.filter-supply-list input:hover + label {
  background: url(../img/filter-radio-hover.svg) no-repeat;
}

.filter-supply-list input:checked + label {
  background: url(../img/filter-radio-checked.svg) no-repeat;
}

.filter-supply-list input:checked:hover + label {
  background: url(../img/filter-radio-checked-hover.svg) no-repeat;
}

.supply-filter-fieldset {
  margin-bottom: 62px;
}

.filter-submit-btn {
  padding: 8px 38px 8px 38px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.sorting-and-products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width:700px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.sorting-options-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 100px;
  margin-top: 7px;
  list-style: none;
}

.sorting-options-list li {
  margin-right: 66px;
  margin-left: 0;
}

.sorting-options-list a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-options-list a:hover {
  border-bottom: 1px solid #ee3643;
  color: rgba(0, 0, 0, 1);
}

.sorting-options-list a.active {
  border: none;
  color: #ee3643;
  opacity: 1;
}

.sorting-up-down-list {
  list-style: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -8px;
  margin-top: -9px;
}

.sorting-up-down-list li:first-child {
  margin-bottom: 7px;
}

a.sorting-up,
a.sorting-down {
  opacity: 1;
}

a.sorting-up {
  margin-left: -17px;
  border: 6px solid transparent;
  border-bottom: 10px solid #c5c5c5;
}

a.sorting-down {
  margin-left: 14px;
  border: 6px solid transparent;
  border-top: 10px solid #c5c5c5;
}


.sorting-up:hover {
  border-bottom-color: #000000;
}

.sorting-up:focus {
  outline: 2px solid #a6c8ff;
}

.sorting-down:hover {
  border-top-color: #000000;
}

.sorting-up.active {
  border-bottom-color: #ee3643;
}

.sorting-down:focus::after {
  outline: 2px solid #a6c8ff;
}

.sorting-down.active::after {
  border-top-color: #ee3643;
}

.product-category-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-top: 60px;
  width: 940px;
}

.main-product-category-list,
.special-offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.main-product-category-list li,
.special-offers-list {
  margin-bottom: 20px;
}

.special-offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
}

.main-product-category-materials {
  position: relative;
  width: 300px;
  min-height: 123px;
  background-color: #ffbf47;
  background-image: url("../img/icon-materials-1.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
  color: #ffffff;
}

.flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.main-product-category-instrument {
  background-color: #3bbce3;
  width: 300px;
  min-height: 123px;
  background-image: url("../img/icon-instruments.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
  color: #ffffff;
}

.main-product-category-technique {
  background-color: #dc91d8;
  width: 300px;
  min-height: 123px;
  background-image: url("../img/icon-technique.svg");
  background-repeat: no-repeat;
  background-position: 86% 50%;
  color: #ffffff;
}

.special-offer-discount {
  background-color: #8ed78f;
  width: 300px;
  min-height: 123px;
  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 81% 50%;
  color: #ffffff;
}

.special-offer-delivery {
  background-color: #ffc047;
  width: 300px;
  min-height: 123px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 86% 50%;
  color: #ffffff;
}

.main-product-category-list p,
.special-offers-list p {
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
}

.main-product-category-list a,
.special-offers-list a {
  display: block;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  padding: 10px 0;
  margin-left: 25px;
  margin-bottom: 22px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-product-category-list a:hover,
.special-offers-list a:hover,
.main-product-category-list a:focus,
.special-offers-list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-product-category-list a:active,
.special-offers-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.special-offers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-bottom: 32px;
  width: 940px;
  min-height: 266px;
}

.special-offers-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.special-offers-slider-section {
  position: relative;
  margin-bottom: 20px;
}

.slider {
  position: relative;
  display: block;
  padding: 0;
  width: 620px;
  min-height: 266px;
  list-style: none;
  color: #ffffff;
}

.slide-1,
.slide-2 {
  display: none;
}

.slide-1 h3,
.slide-2 h3,
.delivery-slide h3,
.guarantee-slide h3,
.credit-slide h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
}

#product-1:checked ~ ul .slide-1 {
  display: block;
}

#product-2:checked ~ ul .slide-2 {
  display: block;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"] {
  background-color: #ee3643;
}

.slider img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: #584e44;
}

.slider h3 {
  margin: 0px;
  padding-top: 22px;
  padding-left: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-left: 25px;
  font-weight: normal;
  color: #ffffff;
}

.slider-btn-left {
  position: absolute;
  left: 25px;
  bottom: 112px;
  border: none;
  width: 22px;
  height: 40px;
  background-image: url(../img/slider-icon-left.svg);
  background-repeat : no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.slider-btn-right {
  position: absolute;
  right: 20px;
  bottom: 112px;
  border: none;
  width: 22px;
  height: 40px;
  background-image: url(../img/slider-icon-right.svg);
  background-repeat : no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.slider ~ a {
  position: absolute;
  bottom: 22px;
  left: 25px;
  z-index: 2;
  border-radius: 4px;
  padding: 10px 48px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.slider ~ a:hover,
.main-section-heading ~ a:hover,
.about-more-link:hover,
.btn-reply:hover {
  background-color: #ca2c37;
}

.slider ~ a:active,
.main-section-heading ~ a:active,
.about-more-link:active,
.btn-reply:active {
  background-color: #ba2732;
}

.slider-controls {
  position: absolute;
  bottom: 30px;
  left: 295px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.main-section-heading-and-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 20px;
  width: 940px;
  min-height: 89px;
  background-color: #f9f5f0;
}

.perforator-heading-container {
  background-color: #f2f6f8;
}

.main-section-heading {
  width: 55%;
  margin-left: 29px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.perforator-heading {
  background-color: #f2f6f8;
}

.main-section-heading ~ a {
  margin-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 253px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #ee3643;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 940px;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.products-list-catalog-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-bottom: 32px;
  width: 700px;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.products-list li,
.products-list-catalog-page li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 19px;
  text-align: center;
  margin-top: 0;
  border: 1px solid #eaeaea;
}

.products-list li:nth-child(4n) {
  margin-right: 0;
}

.products-list-catalog-page li:nth-child(3n) {
  margin-right: 0;
}

.product-card-btns-container {
  margin-top: 44px;
  min-height: 126px;
  width: 218px;
  margin-bottom: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  display: none;
}



.products-list li:hover,
.products-list-catalog-page li:hover,
.products-list li:focus,
.products-list-catalog-page li:focus {
  -webkit-box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.products-list li img,
.products-list-catalog-page li img {
  margin-bottom: 10px;
}

.products-list li:hover img,
.products-list-catalog-page li:hover img,
.products-list li:focus img,
.products-list-catalog-page li:focus img {
  display: none;
}

.products-list li:hover a,
.products-list-catalog-page li:hover a,
.products-list li:hover .product-card-btns-container,
.products-list-catalog-page li:hover .product-card-btns-container,
.products-list li:focus a,
.products-list-catalog-page li:focus a,
.products-list li:focus .product-card-btns-container,
.products-list-catalog-page li:focus .product-card-btns-container,
.btn-buy:focus {
  display: block;
}

.products-list h2,
.products-list-catalog-page h2 {
  display: block;
  min-height: 37px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0 14px;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  line-height: 20px;
}

.old-price {
  min-height: 20px;
  margin-bottom: 9px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a9a9a9;
}

.current-price {
  position: relative;
  width: 131px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 17px;
  line-height: 18px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
}

.current-price:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -27px;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.btn-buy {
  position: relative;
  width: 135px;
  margin: auto;
  margin-bottom: 10px;
  padding-top:  10px;
  padding-left: 3px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #63a63e;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(54, 115, 21, 1);
          box-shadow: 0px 3px 0px 0px rgba(54, 115, 21, 1);
}

.btn-buy::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position:  0 50%;
  opacity: 0.3;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:hover::before,
.btn-buy:active::before {
  opacity: 1;
}

.btn-buy:active {
  outline: none;
  background-color: #518534;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 10px;
  margin-bottom: 7px;
}

.btn-bookmark {
  width: 135px;
  margin: auto;
  margin-bottom: 7px;
  padding-top:  8px;
  padding-left: 3px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #669933;
}

.btn-bookmark:hover {
  border-color: #32425c;
}

.btn-bookmark:active {
  opacity: 0.3;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  margin-bottom: 58px;
  list-style: none;
}

.pagination-list li {
  margin-right: 10px;
}

.pagination-list a {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  color: #000000;
}

a.pagination-next-btn {
  padding: 10px 28px;
}

.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

.pagination-list a.current {
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
}

.manufacturers-section {
  margin-bottom: 35px;
}

.manufacturers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  margin: auto;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
}

.manufacturers li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ebebeb;
}

.manufacturers li:nth-child(4n) {
  margin-right: 0;
}

.manufacturers a:hover,
.manufacturers a:focus {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.manufacturers li:active {
  opacity: 0.3;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  border: none;
}

.manufacturers a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 145px;
}

.manufacturers .interskol {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 21px;
  padding-left: 8px;
}

.manufacturers .metabo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
  padding-left: 8px;
}

.manufacturers .dewalt {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 48px;
  padding-left: 36px;
}

.manufacturers .bosch {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 53px;
  padding-left: 46px;
}

.manufacturers .makita {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
  padding-left: 47px;
}

.manufacturers .hitachi {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 56px;
  padding-left: 27px;
}

.manufacturers .lg {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 33px;
  padding-left: 48px;
}

.manufacturers .aeg {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 21px;
  padding-left: 34px;
}

.services-container {
  padding-bottom: 27px;
  background-color: #f4f8fa;
}

.perforators-article-container {
  padding-bottom: 56px;
  background-color: #f2f6f8;
}

.services {
  width: 940px;
  margin: auto;
  padding-top: 68px;
}

.buying-conditions-section::before {
  content: "";
  position: absolute;
  top: -35px;
  width: 10px;
  height: 279px;
  margin-left: 231px;
  position: absolute;
  background: url(../img/services/services-shadow.png) no-repeat;
  z-index: 2;
}

.services-article {
  z-index: 0;
  width: 417px;
  padding-bottom: 54px;
}

.services-article h2,
.about-company-section h2,
.contacts-section h2,
.modal-heading,
.perforators-article h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.buying-conditions-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 940px;
}

.buying-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 240px;
  padding: 0;
  list-style: none;
}

.buying-conditions li {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 1),
              0px -1px 0px 0px rgba(64, 80, 105, 1);
          box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 1),
              0px -1px 0px 0px rgba(64, 80, 105, 1);
  margin: 1px 0 1px 0;
  width: 240px;
}

.buying-conditions li:first-child {
  -webkit-box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 0),
              0px -1px 0px 0px rgba(64, 80, 105, 0);
          box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 0),
              0px -1px 0px 0px rgba(64, 80, 105, 0);
  margin: 1px;
}

.buying-conditions a {
  display: block;
  padding-top: 15px;
  padding-left: 22px;
  padding-bottom: 15px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  background-color: #32425c;
}

.buying-conditions a:hover,
.buying-conditions a:focus {
  background-color: #293449;
}

.buying-conditions .active a {
  color: #32425c;
  background-color: #ffffff;
}

.buying-conditions-tab-slides {
  width: 100%;
  min-height: 261px;
  list-style: none;
  margin-left: 80px;
  padding: 0;
}

.services-tab-description {
  margin: 0;
  margin-top: 24px;
  width: 299px;
}

.delivery-slide {
  display: block;
  position: relative;
  min-height: 261px;
}

.delivery-slide::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 151px;
  width: 468px;
  height: 283px;
  background: url("../img/services/delivery-truck.png") no-repeat;
}

.guarantee-slide {
  display: none;
  position: relative;
  min-height: 261px;
}

.guarantee-slide::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 239px;
  width: 389px;
  height: 283px;
  background: url("../img/services/guarantee-medal.png") no-repeat;
}

.guarantee-tab-description {
  margin: 0;
  margin-top: 24px;
  width: 377px;
}

.credit-slide {
  display: none;
  position: relative;
  background-position: 100% 2px;
  min-height: 261px;
}

.credit-slide::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 166px;
  width: 465px;
  height: 285px;
  background: url("../img/services/credit-form.png") no-repeat;
}

.credit-tab-description {
  margin: 0;
  margin-top: 24px;
  width: 280px;
  margin-bottom: 34px;
}

.send-credit-request {
  width: 195px;
  padding: 10px 44px 10px 44px;
  margin-top: 35px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff5357;
  border-radius: 3px;
}

.send-credit-request:hover {
  background-color: #ca2c37;
}

.send-credit-request:active {
  background-color: #ba2732;
}

.company-and-contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  margin: auto;
  margin-bottom: 93px;
  margin-top: 53px;
}

.about-company-section {
  width: 535px;
}

.about-first-paragraph {
  margin-bottom: 24px;
}

.about-second-paragraph {
  width: 400px;
}

.contacts-section {
  width: 300px;
}

.contacts-description {
  width: 200px;
}

.delivery-partners {
  padding: 0;
  margin-top: 21px;
  margin-bottom: 43px;
  list-style: none;
}

.delivery-partners li {
  font-size: 18px;
  line-height: 20px;
  padding-left: 35px;
  margin-bottom: 20px;
  background: url("../img/delivery-partners-list-marker.png") no-repeat 0 8px;
}

.about-more-link {
  padding: 10px 40px;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ee3643;
}

.map-link {
  display: block;
  margin-top: 32px;
  margin-bottom: 38px;
}

.btn-reply {
  padding: 10px 61px;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
  cursor: pointer;
}

.perforators-article {
  width: 940px;
  margin: auto;
  padding-top: 40px;
}

.footer-upper-part-container {
  background-color: #32425c;
  margin-top: 0;
}

.footer-upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  margin: auto;
}

.footer-upper-first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 68px;
  margin-bottom: 28px;
}

.footer-upper-second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-bottom: 49px;
}

.logo-footer {
  display: inline-block;
  background-color: #ee3643;
  width: 220px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-right: 15px;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
          box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
}

.footer-address-and-phone-container {
  margin-left: 4px;
}

.footer-address {
  color: #ffffff;
}

.footer-site-navigation,
.footer-product-category-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 550px;
  margin-bottom: 6px;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.footer-product-category-navigation {
  margin-top: 0;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.footer-product-category-navigation a,
.footer-reply-link,
.developer-link {
  color: #ffd180;
}

.footer-site-navigation li,
.footer-product-category-navigation li
 {
  margin-left: 59px;
}

.footer-site-navigation li:nth-child(5n+1) {
  margin-left: 0;
}

.footer-product-category-navigation li:nth-child(4n+1) {
  margin-left: 0;
}

.footer-site-navigation a:hover,
.footer-product-category-navigation a:hover,
.footer-reply-link:hover,
.developer-link:hover,
.footer-site-navigation a:focus,
.footer-product-category-navigation a:focus,
.footer-reply-link:focus,
.developer-link:focus {
  text-decoration: underline;
  color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: #ffffff;
}

.footer-site-navigation a:active,
.footer-product-category-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-lower-containter {
  background-color: #293449;
}

.footer-lower-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 940px;
  padding: 31px 0;
  margin: auto;
}

.copyright,
.reply-and-developer-list {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.copyright {
  margin-top: 3px;
  margin-left: 2px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-top: 3px;
  margin-left: 50px;
  list-style: none;
}

.social-icons li {
  margin-right: 4px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-icons a {
  display: block;
  width: 42px;
  height: 42px;
}

.vk-icon-link {
  background: url("../img/vk-icon.svg") no-repeat 50% 50%;
}

.fb-icon-link {
  background: url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.insta-icon-link {
  background: url("../img/insta-icon.svg") no-repeat 50% 50%;
}

.social-icons a:hover,
.social-icons a:active,
.social-icons a:focus {
  border-radius: 50%;
  background-color: #ee3643;
}

.reply-and-developer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-right: -3px;
  margin-top: 3px;
  list-style: none;
}

.reply-and-developer-list li:first-child {
  width: 140px;
}

.reply-and-developer-list li:last-child {
  width: 100px;
  margin-left: 50px;
  margin-right: 12px;
}

.footer-reply-link:active,
.developer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  position: fixed;
  z-index: 30;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

 .modal-reply,
 .modal-product-added {
  display: none;
  top: 352px;
  left: 50%;

  width: 620px;
  margin-left: -310px;
  padding: 53px 80px 37px 81px;
  -webkit-box-shadow: inset 0 7px 0 rgb(238, 54, 67),
              inset 0 -112px 0 rgb(241, 241, 241),
              0px 20px 40px 0px rgba(0, 1, 1, 0.75);
          box-shadow: inset 0 7px 0 rgb(238, 54, 67),
              inset 0 -112px 0 rgb(241, 241, 241),
              0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.reply-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 460px;
}

.reply-form label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 168px;
  margin-bottom: 8px;
  line-height: 18px;
}

.reply-form label[for="user-email"] {
  margin-right: 0;
}

.reply-form label[for="user-text"] {
  display: block;
  width: 460px;
}

.reply-form input[type="text"] {
  width: 220px;
  padding-left: 13px;
  line-height: 18px;
  min-height: 38px;
  margin-bottom: 21px;
  margin-right: 19px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.reply-form input[type="text"].popup-email-input {
  margin-right: 0;
}

.reply-form input[type="text"]::-webkit-input-placeholder,
.reply-form textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

.reply-form input[type="text"]::-moz-placeholder,
.reply-form textarea::-moz-placeholder {
  color: #a9a9a9;
}

.reply-form input[type="text"]:-ms-input-placeholder,
.reply-form textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.reply-form input[type="text"]::-ms-input-placeholder,
.reply-form textarea::-ms-input-placeholder {
  color: #a9a9a9;
}

.reply-form input[type="text"]::placeholder,
.reply-form textarea::placeholder {
  color: #a9a9a9;
}

.reply-form input[type="text"]::-moz-placeholder,
.reply-form textarea::-moz-placeholder {
  color: #a9a9a9;
}

.reply-form input[type="text"]::-webkit-input-placeholder,
.reply-form textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

.reply-form input[type="text"]:-ms-input-placeholder,
.reply-form textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.reply-form textarea {
  width: 460px;
  min-height: 114px;
  padding-left: 13px;
  padding-top: 11px;
  margin-bottom: 77px;
  line-height: 18px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.reply-form input[type="text"]:hover,
.reply-form textarea:hover {
  border-color: #b5b5b5;
}

.reply-form input[type="text"]:focus,
.reply-form input[type="text"]:active,
.reply-form textarea:focus,
.reply-form textarea:active {
  border-color: #ee3643;
  outline: 0;
}

.reply-form button.modal-send,
.modal-order-btn,
.modal-continue-btn {
  padding: 10px 40px;
  width: 460px;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
}

.reply-form .modal-send:hover,
.modal-order-btn:hover,
.modal-order-btn:focus {
  background-color: #b22832;
}

.modal-continue-btn:hover,
.modal-continue-btn:focus {
  color: #ee3643;
}

.modal-map {
  display: none;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-top: -280px;
  margin-left: -470px;
  -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
          box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}

.modal-map img {
  position: absolute;
  z-index: -1;
}

.modal-close {
  position: absolute;
  top: 11px;
  right: 12px;

  width: 23px;
  height: 23px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 2px;

  width: 27px;
  height: 4px;

  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.map-close {
  top: 3px;
}

.modal-close:focus::after,
.modal-close:focus::before {
  background-color: #b22832;
}

.modal-product-added {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 111px;
  padding: 47px 80px 45px 80px;
}

.modal-heading {
  position: relative;
  padding-left: 97px;
  margin-bottom: 111px;
  text-transform: none;
}

.modal-heading::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: -17px;
  left: 0;
  background: url(../img/cart-popup-check.png) no-repeat;
}

.modal-order-btn {
  width: 220px;
  margin-right: 18px;
  padding: 10px 60px;
}

.modal-continue-btn {
  width: 220px;
  color: #000000;
  background-color: #ffffff;
  margin-right: 0;
  padding: 10px 45px;
}

.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes shake {
  0%,
  100% { -webkit-transform: translateX(0); transform: translateX(0); }

  10%,
  30%,
  50%,
  70%,
  90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }

  20%,
  40%,
  60%,
  80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
  0%,
  100% { -webkit-transform: translateX(0); transform: translateX(0); }

  10%,
  30%,
  50%,
  70%,
  90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }

  20%,
  40%,
  60%,
  80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}
