body {
  margin: 0;
  padding: 0;

  /* font-family: "PT Sans", Arial, sans-serif; */
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #f3f7f8;
}

.pt-sans {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

h4 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333366;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-top-container {
  display: flex;
  order: -1;
  background-color: #32425c;
}

.header-top-line {
  display: flex;
  justify-content: space-between;
  width: 940px;
  height: 47px;
  margin: auto;
  font-size: 17px;
  line-height: 18px;
}

.logo-and-search {
  display: flex;
  width: 1280px;
}

.logo-header {
  display: inline-block;
  background-color: #ee3643;
  width: 220px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 42px;
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
}

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.search-form {
  display: flex;
  flex-direction: row-reverse;
  width: 272px;
}

input[type="search"] {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  width: 222px;
  height: 100%;
  border: none;
  color: #ffffff;
  background-color: #32425c;
}

input[type="search"]::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-form:hover .search-submit-btn path {
  fill: #ffffff;
}

.search-form:hover input[type="search"] {
  background-color: #212a3a;
  color: #ffffff;
}

.search-form:hover .search-submit-btn {
  background-color: #212a3a;
}

input[type="search"]:focus,
input[type="search"]:focus:hover {
  width: 222px;
  outline: none;
  background-color: #ffffff;
  color: #000000;
}

.search-submit-btn {
  width: 50px;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.search-submit-btn path {
  fill: #6a7180;
}

input[type="search"]:focus + .search-submit-btn,
input[type="search"]:focus:hover + .search-submit-btn {
  background-color: #ffffff;
}

input[type="search"]:focus + .search-submit-btn path {
  fill: red;
}


.header-mid-containter {
  display: flex;
  margin: auto;
}

.header-mid-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
}

.headline {
  margin-left: 60px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ff3333;
}

.header-address {
  margin-left: 13px;
  font-size: 14px;
  color: #32425c;
}

.header-phone {
  display: block;
  padding: 10px 50px 10px 70px;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  color: #ff3333;
}

.profile-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.profile-menu a {
  padding: 15px 25px 15px 25px;
  margin-left: 10px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.profile-menu polygon,
.profile-menu path {
  fill: #c5c5c5;
}

.profile-menu a:hover {
  color: #ff3333;
}

.profile-menu a:hover polygon,
.profile-menu a:hover path {
  fill: #32425c;
}

a.user-name:hover {
  color: #000000;
}

.profile-menu a:active span {
  opacity: 0.3;
}

.profile-menu a:active polygon,
.profile-menu a:active path {
  fill: #c5c5c5;
}

a.my-orders-link,
a.account-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #333366;
}


.user-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.user-menu li {
  width: 150px;
}

.user-menu li:last-child {
  display: inline-block;
  margin-right: 0px;
}

.user-menu a {
  display: inline-block;
  padding: 15px 20px 15px 20px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
}

.user-menu a:hover {
  background-color: #212a3a
}

.user-menu a:active {
  background-color: #161d29;
}

.user-menu-bookmarks-link {
  position: relative;
}

.user-menu-bookmarks-link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position:  0 50%;
  opacity: 0.3;
}

.user-menu-cart-link {
  position: relative;
}

.user-menu-cart-link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position:  0 50%;
  opacity: 0.3;
}

.user-menu-bookmarks-link:hover::before,
.user-menu-cart-link:hover::before {
  opacity: 1;
}

.user-menu-bookmarks-link:active::before,
.user-menu-cart-link:active::before {
  opacity: 0.5;
}

.user-menu-order-link {
  display: inline-block;
  min-height: 47px;
  padding: 0 10px;
  background-color: #63a63e;
}

a.user-menu-order-link:hover {
  background-color: #5fbb2d;
}

a.user-menu-order-link:active {
  background-color: #518534;
}

.main-navigation {
  display: flex;
  width: 940px;
  min-height: 55px;
  margin: auto;
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0px 0px rgba(41, 52, 73, 1);
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 940px;
  list-style: none;
}

.site-navigation a {
  padding: 17px 25px 17px 25px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filter-heading,
.sorting-heading {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

fieldset {
  border: none;
}

legend.pt-sans {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter-range-from-to {
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
}

p.filter-range-between {
  font-size: 16px;
  line-height: 18px;
}

.filter-manufacturers-list,
.filter-supply-list {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  list-style: none;
}

.filter-manufacturers-list input:disabled + label,
.filter-supply-list input:disabled + label {
  opacity: 0.4;
}

.filter-submit-btn {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting-options-list {
  list-style: none;
}

.sorting-options-list a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted #ff3333;
  color: #000000;
  opacity: 0.3;
}

.sorting-options-list a:hover {
  border-bottom: 1px solid #ff3333;
  opacity: 1;
}

.sorting-options-list a.active {
  border: none;
  color: #ff3333;
  opacity: 1;
}

.product-category-section {
  display: flex;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 940px;
}

.main-product-category-list,
.special-offers-list {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.special-offers-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.main-product-category-materials {
  width: 300px;
  min-height: 123px;
  background-color: #ffbf47;
  background-image: url("../img/icon-materials-1.svg"),
                    url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 83% 50%, 100% 0;
}

.main-product-category-instrument {
  background-color: #3bbce3;
  width: 300px;
  min-height: 123px;
  background-image: url("../img/icon-instruments.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}

.main-product-category-technique {
  background-color: #dc91d8;
  width: 300px;
  min-height: 123px;
  background-image: url("../img/icon-technique.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}

.special-offer-discount {
  background-color: #8ed78f;
  width: 300px;
  min-height: 123px;
  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}

.special-offer-delivery {
  background-color: #ffc047;
  width: 300px;
  min-height: 123px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}

.main-product-category-list p,
.special-offers-list p {
  margin-left: 24px;
  margin-top: 18px;
  margin-bottom: 15px;
}

.main-product-category-list a,
.special-offers-list a {
  display: block;
  border-radius: 4%;
  font-size: 14px;
  line-height: 18px;
  width: 139px;
  padding: 10px 0;
  margin-left: 25px;
  margin-bottom: 22px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-product-category-list a:hover,
.special-offers-list a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-product-category-list a:active,
.special-offers-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.special-offers-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 940px;
  min-height: 266px;
}

.special-offers-list-container {
  display: flex;
}

.special-offers-slider-section {
  position: relative;
}

.slider {
  position: relative;
  display: block;
  padding: 0;
  width: 620px;
  min-height: 266px;
  list-style: none;
  color: #ffffff;
}

.slider img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background-color: #584e44;
}

.slider h3 {
  margin: 0px;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding-left: 25px;
  font-weight: normal;
  color: #ffffff;
}

.slider-btn-left {
  position: absolute;
  left: 25px;
  bottom: 112px;
  border: none;
  width: 22px;
  height: 40px;
  background-image: url(../img/slider-icon-left.svg);
  background-repeat : no-repeat;
  background-color: transparent;
}

.slider-btn-right {
  position: absolute;
  right: 25px;
  bottom: 112px;
  border: none;
  width: 22px;
  height: 40px;
  background-image: url(../img/slider-icon-right.svg);
  background-repeat : no-repeat;
  background-color: transparent;
}

.slider ~ a {
  position: absolute;
  bottom: 22px;
  left: 25px;
  z-index: 2;
  border-radius: 3%;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.slider ~ a:hover {
  background-color: #ca2c37;
}

.slider ~ a:active {
  background-color: #ba2732;
}

.main-section-heading-and-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 940px;

  background-color: #f9f5f0;
}

.main-section-heading {
  margin-left: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333366;
}

.main-section-heading ~ a {
  margin-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 253px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  border-radius: 5%;
  background-color: #ee3643;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 940px;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.products-list li {
  display: block;
  min-height: 318px;
  margin-right: 20px;
  text-align: center;
  margin-top: 0;
  /* border: 1px solid #eaeaea; */
  border: 1px solid blue;
}

.product-card-btns-container {
  margin-top: 44px;
  margin-bottom: 8px;
  min-height: 126px;
  width: 218px;
  display: none;
}

.products-list li button {
  display: none;
}

.products-list li:hover {
  box-shadow: 0 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.products-list li:hover img {
  display: none;
}

.products-list li:hover button,
.products-list li:hover .product-card-btns-container {
  display: block;
}

.products-list h2 {
  margin: 0;
  padding: 0 14px;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  display: block;
  margin-top: 15px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.current-price {
  position: relative;
  width: 141px;
  margin-bottom: 20px;
  padding: 9px 30px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.current-price:after {
  content: "";
  position: absolute;
  top: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}


.btn-buy {
  width: 135px;
  margin: auto;
  margin-bottom: 7px;
  padding-top:  6px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #63a63e;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
}

.btn-bookmark {
  width: 135px;
  margin: auto;
  margin-bottom: 0;
  padding-top:  6px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #333366;
  background-color: #ffffff;
  border: 3px solid #669933;
}

.btn-bookmark:hover {
  border-color: #333366;
}

.btn-bookmark:active {
  opacity: 0.3;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  color: #000000;
}

.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list a:active {
  border: 1px solid #ee3643;
}

.pagination-list a.current {
  background-color: #ee3643;
}

.manufacturers {
  display: flex;
  width: 940px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}

.manufacturers li {
  display: flex;
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ebebeb;
}

.manufacturers li:hover {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

.manufacturers li:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  border: none;
}

.manufacturers li a {
  margin: auto;
}

.services-container {
  background-color: #f4f8fa;
}

.services {
  width: 940px;
  margin: auto;
  padding-top: 68px;
}

.services-article {
  padding-bottom: 75px;
}

.buying-conditions-section {
  display: flex;
}

.buying-conditions {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 0;
  list-style: none;
}

.buying-conditions li {
  box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 1),
              0px -1px 0px 0px rgba(64, 80, 105, 1);
  margin: 1px;
  width: 240px;
}

.buying-conditions li:first-child {
  box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 0),
              0px -1px 0px 0px rgba(64, 80, 105, 0);
  margin: 1px;
}

.buying-conditions a {
  display: block;
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  background-color: #32425c;
}

.buying-conditions a:hover {
  background-color: #293449;
}

.buying-conditions .active a {
  color: #333366;
  background-color: #ffffff;
}

.buying-conditions-tab-slides {
  width: 100%;
  min-height: 261px;
  list-style: none;
  margin-left: 80px;
  padding: 0;
}

.delivery-slide {
  background: url("../img/services/delivery-truck.png") no-repeat;
  background-position: 100% 100%;
  min-height: 261px;
}

.send-credit-request {
  font-size: 14px;
  line-height: 18px;
  background-color: #ff5357;
}

.company-and-contacts-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: auto;
}

.about-company-section {
  width: 535px;
}

.contacts-section {
  width: 300px;
}

.delivery-partners {
  padding: 0;
  margin-top: 32px;
  margin-bottom: 40px;
  list-style: none;
}

.delivery-partners li {
  font-size: 18px;
  line-height: 20px;
  padding-left: 35px;
  margin-bottom: 25px;
  background: url("../img/delivery-partners-list-marker.png") no-repeat 0 8px;
}

.about-more-link {
  padding: 10px 40px;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.map-link {
  display: block;
  margin-top: 39px;
  margin-bottom: 40px;
}

.btn-reply {
  padding: 10px 40px;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #ee3643;
}

.article-perforators {
  background-color: #f2f6f8;
}

.footer-upper-part-container {
  background-color: #32425c;
  margin-top: 85px;
}

.footer-upper-part {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: auto;
}

.footer-upper-first-line {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  margin-bottom: 35px;
}

.footer-upper-second-line {
  display: flex;
  justify-content: space-between;
  min-height: 95px;
}

.logo-footer {
  display: inline-block;
  background-color: #ee3643;
  width: 220px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 15px;
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);
}

.footer-address {
  color: #ffffff;
}

.footer-site-navigation,
.footer-product-category-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-around;
  width: 550px;
  margin-bottom: 10px;
  list-style: none;
}

.footer-product-category-navigation {
  align-items: flex-start;
  width: 525px;
}

.footer-product-category-navigation a,
.footer-reply-link,
.developer-link {
  color: #ffcc99;
}

.footer-site-navigation li:hover,
.footer-product-category-navigation li:hover,
.footer-reply-link:hover,
.developer-link:hover {
  text-decoration: underline;
}

.footer-site-navigation li:active,
.footer-product-category-navigation li:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-lower-containter {
  background-color: #293449;
}

.footer-lower-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  min-height: 107px;
  margin: auto;
}

.copyright,
.reply-and-developer-list {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social-icons {
  display: flex;
  padding: 0;
  list-style: none;
}

.social-icons li {
  margin-right: 6px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-icons a {
  display: block;
  width: 42px;
  height: 42px;
}

.vk-icon-link {
  background: url("../img/vk-icon.svg") no-repeat 50% 50%;
}

.fb-icon-link {
  background: url("../img/fb-icon.svg") no-repeat 50% 50%;
}

.insta-icon-link {
  background: url("../img/insta-icon.svg") no-repeat 50% 50%;
}

.social-icons li:hover,
.social-icons li:active {
  background-color: #ee3643;
}

.reply-and-developer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
}

.reply-and-developer-list li:first-child {
  width: 140px;
}

.reply-and-developer-list li:last-child {
  width: 100px;
  margin-left: 50px;
  margin-right: 12px;
}

.footer-reply-link:active,
.developer-link:active {
  color: #ff3333;
  text-decoration: none;
}
